<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Tailwind Webpack Boilerplate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />

    <!-- 
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" /> 
    -->
  </head>
  <body>
    <!-- Add your site or application content here -->
    <main
      class="container mx-auto px-5 flex flex-col w-full h-screen items-center justify-center"
    >
      <section
        class="flex flex-col items-center justify-center w-full h-auto text-center"
      >
        <img src="../images/content/favicon-32x32.png" alt="TEST" />
        <h1 class="text-3xl text-blue-300 font-medium">ABOUT PAGE</h1>
        <p class="text-lg text-black font-normal">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium
          adipisci mollitia libero deleniti culpa totam voluptatibus aperiam
          tenetur, cum quasi pariatur at ad quaerat maiores sit modi dolor
          doloribus eos?
        </p>
      </section>
    </main>
  </body>
</html>
